body {
    background-color: #151112;
}

.theme {
    background-color: #232323;
}

a {
    color: white;
}

.card-header, .card-body, .card-footer, .modal-header, .modal-body, .modal-footer, .nav-item {
    color: white;
    background-color: #232323;
}

.card-header a {
    text-decoration: underline;
}

input {
    background-color: darkgray;
}