body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.theme {
    background-color: #343494;
}

.card-header {
    background-color: white;
}

.card-footer {
    background-color: white;
}

.card-footer a {
    color: #83878A;
}

.card-footer li:hover {
    background-color: #F8F9FB;
}