.theme {
    background-color: #343494;
}

.flex-column {
    right:0;
    float: left;
    position: absolute; /* Fixed Sidebar (stay in place on scroll) */
    top: initial; /* Stay at the top */

}

#navbar{
    height:40px;
}

#channel {
    position:fixed;
    top:initial;
}

.navbar a {
    color:white;
}

img {
    width: 100%;
    object-fit: cover;
}